<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @blog.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @blog.descreption %>
</p>

<ul>
<%= render partial: 'comments/form' %>
</ul>

<ul>
<h1>Comments:-</h1>
<%= render partial: 'comments/comment', collection: @blog.comments.where(comment_id:nil) %>
</ul>
<% if user_signed_in? %>
  <% if current_user.id == @blog.user_id %>
    <%= link_to 'Edit', edit_blog_path(@blog) %> |
  <% end %>
<% end %>
<%= link_to 'Back', blogs_path %>

